.form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 50px;
}
.btn {
    width: 200px;
    height: 50px;
    color: chocolate;
}
.second-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: chartreuse;
}
.profiles {
    margin-top: 20px;
}
.product {
    display: flex;
    flex-direction: column;
    gap: 20px;
}