* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
  width: 200px;
  height: 40px;
  border-radius: 5x;
  background-color: gainsboro;
}
.wrapper {
  margin-left: 560px;
}
.filter {
margin-top: 20px;
margin-bottom: 20px;
}

.list {
margin-top: 20px;
margin-bottom: 20px;
}